.modern-button {
  position: relative;
  flex: 0 1 auto;
  padding: 20px 60px;
  margin-bottom: 3.5rem;
  color: lightgrey;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  width: fit-content;
  border-radius: 50px;
  border: none;
  background: rgba(120, 120, 120, 0.8); // задний фон (рамка)
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  transition-delay: 0;

  &:hover {
    color: var(--clr);
    transform: translateY(-2px);
    text-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }

  span {
    position: relative;
    letter-spacing: 0.1em;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--clr), transparent, transparent);
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: 0.5s, top 0s, left 0s;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: rgba(45, 45, 45, 0.8); // передний фон
    border-radius: 48px;
  }
}
