$cubic-minus: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$cubic-plus: cubic-bezier(0.25, 0.46, 0.45, 0.94);

#custom-title {
   background: #f5f2ed;
}

.modern-title {
   margin-top: 10rem;
   margin-bottom: 1rem;

   position: relative;
   display: inline-block;
   width: 100%;
   text-align: center;
   vertical-align: top;

   .bg-text {
      position: absolute;
      color: #ece7dd;
      top: -30px;
      width: 100%;
      font-family: 'Cormorant Garamond', serif;
      font-size: 125px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0;
   }

   .front-text-tagline {
      position: relative;
      color: #bf7e74;
      font-family: 'Proza Libre';
      font-size: 14px;
      font-weight: 500;
   }

   .front-text-title {
      position: relative;
      color: #524574;
      font-family: 'Cormorant Garamond';
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
   }
}

.modern-title.example-2 {
   margin-top: 10rem;
   margin-bottom: 1rem;

   display: inline-block;
   width: 100%;
   text-align: center;
   vertical-align: top;

   .front-text {
      position: absolute;
      color: #524574;
      font-family: 'Proza Libre';
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
   }

   .bg-text {
      position: relative;
      color: #eddede;
      width: 100%;
      font-family: 'Cormorant Garamond', serif;
      font-size: 125px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0;
      top: 0;
   }

   .title-icon {
      $size: 8rem;
      $color: #f3eaea;

      position: absolute;
      color: $color;
      font-size: $size;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::before {
         content: '';
         position: absolute;
         display: block;
         width: $size + 6rem;
         height: $size + 6rem;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         border-radius: 50%;
         border: 5px solid $color;
      }
   }
}

.anim-svg {
   background-color: rgba(0, 0, 0, 0.7);
   margin: 0 auto;
   border-radius: 50%;
   padding: 50px;

   svg {
      path {
         fill: transparent;
         stroke-width: 3px;
         stroke: #fff;
         stroke-dasharray: 1000;
         animation: dash 2s linear forwards;
      }
   }
}

@keyframes dash {
   from {
      stroke-dashoffset: 1000;
   }
   to {
      stroke-dashoffset: 0;
   }
}

/* Nikita Dubko */
// resizer
.panels {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 2rem;
}

.resizer {
   max-width: 50cqi;
   overflow: hidden;
   resize: horizontal;
}

#sandbox {
   section {
      min-height: initial;
   }

   .btn-main-page {
      position: absolute;
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
   }

   #about {
      .about-cards {
         .about-card {
            padding: 2rem 4rem;
            margin: 2rem auto 2rem;
            width: 50%;
            // backdrop-filter: blur(7px);
            // border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 6px;
            background: linear-gradient(145deg, #ffffff, #e3dee6);
            box-shadow: 6px 6px 12px #d6d2d9, -6px -6px 12px #ffffff;
            transition: all 0.3s $cubic-minus;

            // не парные
            &:nth-child(odd) {
               animation: animate-in-left linear both;
               animation-timeline: view(block);
               animation-range: cover 0% cover 100%;
            }

            // парные
            &:nth-child(even) {
               animation: animate-in-right linear both;
               animation-timeline: view(block);
               animation-range: cover 0% cover 100%;
            }

            &:hover {
               box-shadow: 8px 8px 14px #d6d2d9, -8px -8px 14px #ffffff;
            }
         }
      }

      // @keyframes animate-in-right {
      //    0% {
      //       opacity: 0;
      //       transform: translateX(100%);
      //    }
      //    25% {
      //       opacity: 1;
      //       transform: translateX(55%);
      //    }
      //    75% {
      //       opacity: 1;
      //       transform: translateX(55%);
      //    }
      //    100% {
      //       opacity: 0;
      //       transform: translateX(100%);
      //    }
      // }

      // @keyframes animate-in-left {
      //    0% {
      //       opacity: 0;
      //       transform: translateX(-100%);
      //    }
      //    25% {
      //       opacity: 1;
      //       transform: translateX(-55%);
      //    }
      //    75% {
      //       opacity: 1;
      //       transform: translateX(-55%);
      //    }
      //    100% {
      //       opacity: 0;
      //       transform: translateX(-100%);
      //    }
      // }

      @keyframes animate-in-left {
         0% {
            opacity: 0;
            transform: translateY(100%);
         }
         15% {
            opacity: 1;
            transform: translateY(0);
         }
         85% {
            opacity: 1;
            transform: translateY(0);
         }
         100% {
            opacity: 0;
            transform: translateY(-100%);
         }
      }

      @keyframes animate-in-right {
         0% {
            opacity: 0;
            transform: translateY(100%);
         }
         15% {
            opacity: 1;
            transform: translateY(0);
         }
         85% {
            opacity: 1;
            transform: translateY(0);
         }
         100% {
            opacity: 0;
            transform: translateY(-100%);
         }
      }
   }
}

.gradient-text {
   display: inline-block;
   text-align: center;
   font-size: 3.5em;
   font-weight: 800;
   background: linear-gradient(
      330deg,
      #e05252 0%,
      #99e052 25%,
      #52e0e0 50%,
      #9952e0 75%,
      #e05252 100%
   );
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
