@import '_fonts';
@import '_variables';
@import '_header';
@import '_modern-button';
@import '_preloader';
@import '_media';

@import '_sandbox';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

// Выделение текста
::selection {
  color: #fff;
  background: $pink-2-cc;
}

a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: $color-pink-hover;
}

ul li {
  list-style: none;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  width: 100%;
}

svg {
  height: inherit;
}

h4,
h5 {
  font-family: 'Lora', serif;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: $text-secondary;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

section {
  min-height: 100vh;
  // min-height: calc(100dvh + 100px);
  padding: 100px 0;
  background-color: var(--clr);

  ul li {
    &::marker {
      content: '✔ ';
      font-size: 1.2em;
      color: $color-blue;
    }
  }
}

.delimer {
  position: relative;

  &::before {
    --height: 100px;

    content: '';
    position: absolute;
    width: 100%;
    height: var(--height);
    top: calc(var(--height) / -2);
    background-color: var(--clr);
    // z-index: 1;
    box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.2);
  }

  &:nth-child(odd) {
    &::before {
      transform: skewY(3deg);
    }
  }

  &:nth-child(even) {
    &::before {
      transform: skewY(-3deg);
    }
  }
}

.border-dashed {
  border-bottom: 1px dashed grey;
  color: inherit;
  cursor: pointer;

  &:hover {
    border-bottom: 1px dashed $color-pink-hover;
    color: $color-pink-hover;
  }
}

.btn-close {
  transition: all 0.3s $cubic-minus;

  &:hover {
    transform: rotate(90deg);
  }
}

a {
  text-decoration: none;
  color: #212529;
}

.tooltip {
  --bs-tooltip-bg: #202020;
}

.hidden,
.ads-top-banner,
iframe {
  display: none;
}

.title {
  margin: 1rem 0 2rem;
  position: relative;
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: clamp(1.75rem, 3vw, 2.25rem);
  text-align: center;
  color: #555;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

  .secondary-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: inherit;
    font-weight: 600;
    font-size: clamp(2.25rem, 5vw, 4rem);
    color: rgba(237, 106, 90, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: text;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }
}

.text-gradient {
  margin: 5rem 0;

  font-family: 'Mavka';
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  background: linear-gradient(47deg, #03c2cc 0%, #eb00cb 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-cc {
  background: $color-blue;
  box-shadow: $box-shadow;
  border: 2px solid rgba(200, 200, 200, 0.8);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $color-blue-hover;
    border: 2px solid rgba(200, 200, 200, 0.8);
  }
}

// arrow-down, scroll-to-top
.circle-btn {
  z-index: 20;

  i {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    color: white;
    background: $color-blue;
    border-radius: 50%;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: $box-shadow;
    border: 2px solid rgba(200, 200, 200, 0.8);
    transition: 0.2s ease-in-out;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    i {
      transform: translateY(-2px);
      background-color: $color-blue-hover;
      // box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
      box-shadow: $box-shadow-hover;
    }
  }
}

main {
  .hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .container {
      z-index: 1;
    }

    &.hero-background {
      background-image: url('../img/hero-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .hero-section-right {
      line-height: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .name {
        font-family: 'Mavka';
        font-size: clamp(3rem, 4vw, 4rem);
        text-align: center;
        margin: 3rem 0 2rem;
        padding: 10px 0;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        background: linear-gradient(47deg, $color-pink 0%, $color-blue 100%);
        background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
      }

      // Type effect
      .type-effect {
        align-self: flex-start;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        margin: 0 auto 4rem;
        height: 40px;

        span {
          position: relative;
          font-family: 'Mavka';
          color: $color-pink;
          font-weight: 500;
          font-size: 2.5rem;

          &.stop-blinking::before {
            animation: none;
          }

          &::before {
            content: '';
            position: absolute;
            right: -8px;
            top: 50%;
            height: 30px;
            width: 2px;
            background: $color-pink;
            transform: translateY(-45%);
            animation: blink 0.7s infinite;
          }

          @keyframes blink {
            50% {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  #about {
    .about-img {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    }
  }

  #services {
    .cards {
      gap: 2rem;

      .card {
        padding: 1rem;
        border: none;
        border-radius: 8px;
        // background: linear-gradient(145deg, #e3dee6, #ffffff);
        box-shadow: 6px 6px 12px #d6d2d9, -6px -6px 12px #ffffff;

        transition: all 0.3s ease-in-out;
        border: 1px solid $color-blue;

        ul li {
          text-wrap: balance;
        }

        &:hover {
          border: 1px solid $color-blue-hover;
          box-shadow: 8px 8px 14px #d6d2d9, -8px 8px 14px #ffffff;
        }
      }
    }
  }

  #prices {
    // Slider
    .swiper {
      width: 100%;
      height: 100%;
      padding: 20px 20px;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .swiper-pagination {
        position: relative;
        top: 20px !important;
      }

      .card {
        position: relative;
        align-items: center;
        height: 100%;
        max-width: 300px; // ???
        border-radius: 8px;
        border: none;
        overflow: hidden;
        background: linear-gradient(145deg, #dddddc, #ffffff);
        box-shadow: 6px 6px 14px #d1d1cf, -6px -6px 14px #ffffff;
        transition: all 0.3s $cubic-minus;

        &:hover {
          box-shadow: 8px 8px 16px #d6d2d9, -8px -8px 16px #ffffff;
          // transform: translateY(-2px);

          .card-title {
            text-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
          }
        }

        .card-img {
          border-radius: 0;
        }

        .card-body {
          width: 100%;
          height: 160px; // ???
          display: flex;
          flex-direction: column;
          z-index: 2;
          padding: 1rem 1rem 2.25rem;

          .card-title {
            transition: all 0.3s ease-in-out;
          }

          .card-title,
          .card-text {
            text-align: center;
            text-wrap: balance;
          }

          .card-text {
            margin-top: auto;
          }
        }

        .btn-cc {
          text-wrap: nowrap;
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      a:hover {
        color: inherit;

        &.btn {
          color: #fff;
        }
      }
    }
  }
}

// Arrow down
.arrow-down {
  position: absolute;
  bottom: 23px;
  left: 50%;
  animation: shake 1.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;

  @keyframes shake {
    0%,
    100% {
      transform: translate(-50%, 0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translate(-50%, -2px);
    }
    20%,
    40%,
    60% {
      transform: translate(-50%, 2px);
    }
    80% {
      transform: translate(-50%, 1.4px);
    }
    90% {
      transform: translate(-50%, -1.4px);
    }
  }

  &:hover {
    animation: none;
    transform: translate(-50%, 0);
  }
}

// Social
.social {
  position: relative;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0;

  .icon {
    position: relative;
    color: white;
    background: $color-blue;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(200, 200, 200, 0.8);
    cursor: pointer;
    transition: all 0.2s $cubic-minus;

    .tooltip {
      font-family: 'Poppins', sans-serif;
      position: absolute;
      top: 0;
      font-size: 0.8em;
      font-weight: 500;
      // background: $color-blue;
      color: var(--clr);
      padding: 5px 8px;
      border-radius: 6px;
      box-shadow: $box-shadow;
      pointer-events: none;
      transition: all 0.3s $cubic-minus;
      z-index: -1;

      &::before {
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        // background: $color-blue;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s $cubic-minus;
      }
    }

    span {
      i {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      .tooltip {
        top: -45px;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: $box-shadow-hover;
    }

    &:hover,
    .tooltip,
    .tooltip::before {
      background: var(--clr);
      color: white;
    }
  }
}

#waves {
  position: relative;
  margin-top: -150px;
  height: 150px;
  z-index: 100;
}

// Scroll to top
.scroll-to-top {
  position: fixed;
  bottom: 80px;
  right: 30px;
  display: none;
  cursor: pointer;
  z-index: 110;
}

footer {
  position: relative;
  z-index: 101;

  .copyright {
    position: relative;
    color: #777;
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    text-wrap: balance;
    padding: 0.5rem 0;
    margin: 0;
    z-index: 102;
  }
}

// Mobile menu button
header.header {
  .menu-icons {
    order: 1;
  }

  input#check {
    display: none;
  }

  .menu-icons {
    display: none;
    font-size: 2rem;
    color: lightgray;
    z-index: 100;
    cursor: pointer;

    i {
      width: 32px;
      height: 32px;
    }
  }
}

// Animated background
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 15%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  padding: 0;
  overflow: hidden;
}

.circles li {
  --sec: 20s;
  position: absolute;
  display: block;
  list-style: none;
  background: rgba(235, 0, 203, 0.2);
  animation: animate var(--sec) linear infinite;
  bottom: -100px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: calc(var(--sec) + 0s);
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: calc(var(--sec) + 12s);
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  animation-duration: calc(var(--sec) + 0s);
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: calc(var(--sec) + 18s);
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: calc(var(--sec) + 0s);
}

.circles li:nth-child(6) {
  left: 75%;
  width: 75px;
  height: 75px;
  animation-delay: 3s;
  animation-duration: calc(var(--sec) + 0s);
}

.circles li:nth-child(7) {
  left: 35%;
  width: 80px;
  height: 80px;
  animation-delay: 7s;
  animation-duration: calc(var(--sec) + 0s);
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: calc(var(--sec) + 45s);
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: calc(var(--sec) + 35s);
}

.circles li:nth-child(10) {
  left: 85%;
  width: 83px;
  height: 83px;
  animation-delay: 0s;
  animation-duration: calc(var(--sec) + 11s);
}

// Reading line
.reading-line {
  --size-spider: 50px;
  position: fixed;
  top: 0;
  left: 26px;
  opacity: 0;
  z-index: 99;

  .line {
    width: 1px;
    // height: 10vh;
    background-color: #8c90a7;
    transition: all 0.2s;
  }

  .spider {
    position: absolute;
    top: calc(100% - var(--size-spider) / 2);
    left: 50%;
    transform: translateX(-50%);

    img {
      width: var(--size-spider);
      max-width: inherit;
    }
  }
}

.gradient-text {
  text-align: center;
  font-size: 3.5em;
  font-weight: 800;
  background: linear-gradient(
    330deg,
    #e05252 0%,
    #99e052 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Lightbox
.lightbox {
  .img-box {
    position: relative;

    img,
    i {
      transition: all 0.3s $cubic-minus;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.375rem;
      color: white;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
      opacity: 0;
    }

    img {
      border-radius: 6px;
      box-shadow: 4px 4px 10px #d6d2d9, -4px -4px 10px #ffffff;
    }

    &:hover {
      img {
        box-shadow: 6px 6px 12px #d6d2d9, -6px 6px 12px #ffffff;
        transform: translateY(-2px);
      }

      i {
        opacity: 1;
      }
    }
  }
}

#custom-title {
  background: #f5f2ed;
}

.modern-title {
  margin-top: 10rem;
  margin-bottom: 1rem;

  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: top;

  .bg-text {
    position: absolute;
    color: #ece7dd;
    top: -30px;
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 125px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
  }

  .front-text-tagline {
    position: relative;
    color: #bf7e74;
    font-family: 'Proza Libre';
    font-size: 14px;
    font-weight: 500;
  }

  .front-text-title {
    position: relative;
    color: #524574;
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }
}

.modern-title.example-2 {
  margin-top: 10rem;
  margin-bottom: 1rem;

  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: top;

  .front-text {
    position: absolute;
    color: #524574;
    font-family: 'Proza Libre';
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .bg-text {
    position: relative;
    color: #eddede;
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 125px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    top: 0;
  }

  .title-icon {
    $size: 8rem;
    $color: #f3eaea;

    position: absolute;
    color: $color;
    font-size: $size;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: $size + 6rem;
      height: $size + 6rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 5px solid $color;
    }
  }
}

.anim-svg {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  border-radius: 50%;
  padding: 50px;

  svg {
    path {
      fill: transparent;
      stroke-width: 3px;
      stroke: #fff;
      stroke-dasharray: 1000;
      animation: dash 2s linear forwards;
    }
  }

  &:hover svg path {
    animation: dash1 2s linear forwards;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}

@keyframes dash1 {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.modal {
  .modal-content {
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    form {
      z-index: 1;
    }

    .btn-close {
      position: absolute;
      top: 16px;
      right: 16px;
      border-radius: 50%;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('../img/send-form-bg.jpg');
      background-size: cover;
      opacity: 0.2;
      z-index: 0;
    }

    .modal-header,
    .modal-body,
    .modal-footer {
      z-index: 1;
    }

    .modal-header {
      background-color: #fff;

      .modal-title {
        width: 100%;
        padding: 0 1.5rem;

        p {
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }

    .modal-body {
      padding: 2rem 1rem 1rem;

      label {
        text-wrap: nowrap;
      }
    }

    .modal-footer {
      flex-direction: column;
      align-items: start;
    }

    .form-control {
      padding: 0.5rem 1rem;
    }

    .form-control:focus,
    .form-check-input,
    .form-check-input:focus {
      box-shadow: none;
    }
  }

  .btn-cc {
    width: 150px;
  }

  .form-check-input {
    &:not(:invalid):focus {
      border-color: $color-blue;
    }

    &:checked {
      background-color: $color-blue;
    }
  }

  &#processing-data,
  &#processing-data2 {
    .modal-body {
      p {
        text-align: justify;
      }
    }

    .modal-footer {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .modal-icon-container {
    display: flex;
    justify-content: center;

    .modal-icon {
      text-align: center;
      font-size: 5rem;
      margin: 1rem;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

      &.done,
      &.error {
        animation: bounce-top 0.9s 0.4s both;
      }

      &.done {
        color: $color-green;
      }

      &.error {
        color: $color-red;
      }
    }

    @keyframes bounce-top {
      0% {
        transform: translateY(-45px);
        animation-timing-function: ease-in;
        opacity: 0;
      }
      24% {
        opacity: 1;
      }
      40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in;
      }
      65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
      }
      82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
      }
      93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
      }
      25%,
      55%,
      75%,
      87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
      }
      100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
      }
    }
  }

  // Custom placeholder
  .input-box {
    position: relative;

    span {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0.625rem 1rem;
      pointer-events: none;
      font-size: 1em;
      // text-transform: uppercase;
      color: #a9a9a9;
      border: 1px solid transparent;
      transition: 0.2s;
      text-wrap: nowrap;
    }

    input,
    textarea {
      outline: none;
      color: $text;
      font-size: 1em;
      transition: all 0.2s $cubic-minus;

      &::placeholder {
        color: #a9a9a9;
        opacity: 0;
        transition: opacity 0.2s $cubic-minus;
      }

      &:valid,
      &:valid:focus {
        border-color: $color-green;
      }

      &:focus {
        border-color: $color-blue;

        &::placeholder {
          opacity: 1;
        }
      }

      &:valid ~ span,
      &:focus ~ span {
        transform: translate(17px, -10px);
        font-size: 0.75em;
        padding: 0 0.625rem;
        color: #fff;
        background-color: $color-blue;
        letter-spacing: 0.125em;
        border-radius: 0.125rem;
      }

      &:valid ~ span,
      &:valid:focus ~ span {
        background-color: $color-green;
      }
    }
  }
}

// Custom placeholder
.was-validated {
  input:invalid:focus ~ span,
  textarea:invalid:focus ~ span {
    background-color: $color-red;
  }
}

// Предотвращение выхода placeholder за пределы input
.modal.show .modal-dialog {
  max-width: 650px;
}

// предотвращение перекрытия контента фоновой подложкой
.fade:not(.show) {
  visibility: hidden;
}

// Modal window send form
body,
.modal {
  padding: 0 !important;
}

// блокировка прокрутки страницы при открытом модальном окне
// body.modal-open {
//    position: fixed;
//    width: 100%;

//    header {
//       padding-right: 17px;
//    }
//    .toast-container {
//       padding: 1rem calc(1rem + 17px) 1rem 1rem !important;
//    }
// }

// Coocies message
.toast-container {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  .toast {
    .toast-body {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    img {
      height: 22px;
      width: auto;
    }

    .cookies-text {
      p,
      span {
        color: grey;
      }

      span:hover {
        color: $color-pink-hover;
      }
    }

    // button {
    //    text-wrap: nowrap;
    // align-self: flex-start;
    // }
  }
}

.social {
  display: none;
}
